@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: hsl(122, 39%, 53%);
        --secondary: hsl(132, 86%, 29%);
        --background: hsl(220, 12%, 95%);
        --text: hsl(210, 26%, 14%);
        --navbar: hsl(0, 0%, 100%);
        --tabsBg: hsl(0, 0%, 100%);
        --tabsSelected: hsl(220, 13%, 96%);
    }

    .dark {
        --primary: hsl(122, 39%, 53%);
        --secondary: hsl(132, 86%, 29%);
        --background: hsl(210, 41%, 8%);
        --text: hsl(0, 0%, 75%);
        --navbar: hsl(210, 26%, 14%);
        --tabsBg: hsl(210, 26%, 14%);
        --tabsSelected: hsl(210, 41%, 8%);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background;
    }
}